<div class="container">
  <div class="wrapper col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <h3>アカウントの編集</h3>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <!-- 名前入力用のフィールドを追加 -->
      <div class="field">
        <%= f.label :氏名 %><br />
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :プロフィール %><br />
        <%= f.text_area :profile, :rows => "6", class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        (<%= @minimum_password_length%><%= t('devise.passwords.characters_minimum')%>)
        <% end %>
        <%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: t('devise.passwords.not_change')%>

      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off", placeholder: t('devise.passwords.not_change') %>
      </div>

      <div class="field">
        <%= f.label :現在のパスワード %><br />
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="field">
        <%= profile_img(@user) if profile_img(@user) %>
        <%= f.file_field :avatar %>
        <%= f.hidden_field :avatar_cache %>
      </div>

      <div class="actions">
        <%= f.submit "更新する", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>

    <%= button_to "退会する", registration_path(resource_name), data: { confirm: "アカウントを削除して退会しますか?" }, method: :delete, class: "btn btn-primary btn-block" %>
    <%= link_to "戻る", :back %>
  </div>
</div>

<div class='btn-top'><p><a class='fa fa-arrow-up'></a></p></div>
<div class='btn-bottom'><p><a class='fa fa-arrow-down'></a></p></div>
