<ul style="padding-left: 0px !important">
  <div class="line-bc">
    <% comments.each do |comment| %>
      <% unless comment.id.nil? %>
          <%if comment.user.type == 'Client' %>
            <div class="balloon6">
              <div class="chatting">
                <div class="says">
                  <span><%= comment.content %></span>

                  <% if event.actual_start.present? && comment.speechstart.present? %>
                    <% if event.actual_start <= comment.speechstart %>
                      <!--span class="timeofcomment fa fa-play" onclick="videoseek()"> <%= ((comment.speechstart-event.actual_start)).to_i %></span-->
                      <span class="timeofcomment fa fa-play" onclick="videoseek()"> <%= comment.speechstartat %></span>
                    <% end %>
                  <% end %>

                </div>
              </div>
            </div>
          <% else %>
            <div class="chatting">
              <div class="mycomment">
                <span><%= comment.content %></span>

                <% if event.actual_start.present? && comment.speechstart.present? %>
                  <% if event.actual_start <= comment.speechstart %>
                  <!--span class="timeofcomment fa fa-play" onclick="videoseek()"> <%= ((comment.speechstart-event.actual_start)).to_i %></span-->
                  <span class="timeofcomment fa fa-play" onclick="videoseek()"> <%= comment.speechstartat %></span>
                  <% end %>
                <% end %>

              </div>
            </div>
          <% end %>
      <% end %>
    <% end %>
  </div>
</ul>
