<div class="container">
    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
      <h2>コメントを編集する</h2>
      <%= form_for([@consultation, @report]) do |f| %>
        <% if @report.errors.any? %>
          <div id="error_explanation">
            <h2><%= @report.errors.count %>件のエラーがあります。</h2>

            <ul>
            <% @report.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.hidden_field :consultation_id %>
        <div class="field">
          <%= f.text_area :content, class: "form-control"  %>
        </div>
        <div>
          <%= f.submit '更新する', class: 'btn btn-primary btn-block' %>
        </div>
      <% end %>
    </div>
</div>
